    <div class="home-container">
      <app-page-header></app-page-header>
      
      <section class="featured-work">
        <div 
          *ngFor="let item of featuredPortfolio$ | async; trackBy: trackByFn" 
          class="featured-item"
          (click)="selectItem(item)"
        >
          <div class="featured-image">
            <img [src]="item.featuredImage" [alt]="item.title" />
          </div>
        </div>
      </section>
      
      <footer class="home-footer">
        <div class="footer-content">

          <!-- 
          <h3>{{ siteName() }}</h3>
          <p>{{ siteDescription() }}</p>
          <p class="copyright">© 2024 by {{ siteName() }}</p>
-->
          <p><span class="hero-subtitle"> {{ siteDescription() }}</span>|&nbsp; Design and Art in Zurich, Switzerland</p>
          <p class="copyright">{{ footerText() }}</p>
          <div *ngFor="let contact of contactInfo$ | async; trackBy: trackByContactFn" class="footer-links">
            <a 
              *ngIf="contact.socialMedia.instagram" 
              [href]="contact.socialMedia.instagram" 
              target="_blank"
              rel="noopener"
            >
              <img src="assets/images/insta.png" alt="Instagram">
            </a>
          </div>
        </div>
      </footer>
    </div>